.group
  %label.label{:for => 'milestone[name]'} Name
  = f.text_field :name, :class => 'text_field'

.group
  %label.label{:for => 'milestone[expected_at]'} Excepted at ?
  = f.text_field :expected_at, :class => 'text_field'

.group
  %label.label{:for => 'milestone[description]'} Description
  = f.text_area :description, :class => 'text_area'
