%h1
  Edit milestones :
  = @milestone.name

= error_messages_for :milestone

- form_for([@project, @milestone]) do |f|
  = render :partial => 'form', :locals => {:f => f}
  %p
    = f.submit "Update"
