#block-forms.block
  .content
    %h2 Create a new milestone

    .inner
      .flash
        = error_messages_for :milestone

      - form_for([@project, @milestone], :html => {:class => 'form'}) do |f|
        = render :partial => 'form', :locals => {:f => f}
        %div{:class => 'group navform'}
          = f.submit "Create", :class => 'button'
          or
          = link_to 'Cancel', project_milestones_url(@project)
