.content
  %h2
    Priorities

  .inner
    %table.table
      %thead
        %tr
          %th.first Name
      %tbody
        - for priority in @priorities
          %tr
            %td= priority.name
    .actions-bar
      .action
        %p=link_to 'Add priorities', new_admin_priority_url
      .clear
