.content
  %h2 Add a priority

  .inner
    .flash

      = error_messages_for :priority

    - form_for([:admin, @priority], :class => 'form') do |f|
      .group
        %label.label{:for => 'priority[name]'} Name
        = f.text_field :name, :class => 'text_field'
      %div{:class => 'group navform'}
        = submit_tag "Create", :class => 'button'
        or
        = link_to 'Back', admin_priorities_url
