.secondary-navigation
  %ul
    %li.first{:class => functions_active}= link_to('Functions', resource(:admin, :functions))
    %li{:class => priorities_active}= link_to('Priorities', resource(:admin, :priorities))
    %li{:class => states_active}= link_to('States', resource(:admin, :states))
    %li.last{:class => users_active}= link_to('Users', resource(:admin, :users))
  .clear
