body
  background: #092E20 none repeat scroll 0 0
  color: white
  margin: 10px
  padding: 0

#header
  background: #94DA3A none repeat scroll 0 0
  padding: 10px
  padding-left: 30px
  margin-left: -10px
  margin-right: -10px
  margin-bottom: 10px
  margin-top: 30px

#menu

  padding-top: 10px
  font-family: verdana,'Bitstream Vera Sans',helvetica,arial,sans-seriF
  font-size: 10px

  ul
    list-style-image: none
    list-style-position: outside
    list-style-type: none
    text-align: right
    margin: 0
  li
    background: #487858 none repeat scroll 0 0
    border-right: 3px solid #092E20
    white-space: no-wrap
    display: inline
    padding: 0.25em 0

    a:link,a:visited
      color: white
      text-decoration: none
      padding: 0.2em 20px

#content
  padding: 2em
  position: relative
  background: white
  color: black

  table
    border-bottom: 1px solid #D7D7D7
    border-collapse: collapse
    border-spacing: 0
    clear: both
    margin-top: 1em
    width: 100%

    th,td,tr
      font-family: Verdana,sans-serif
      font-size: 12px
      line-height: 1.4em
      border: 1px solid #DDDDDD

    thead
      background: #F7F7F0 none repeat scroll 0 0
      tr
        border-bottom: 1.5px solid black

      th
        border-color: #D7D7D7 #D7D7D7 #999999
        border-style: solid
        border-width: 1px

    tbody

      td
        border: 1px dotted #DDDDDD
        vertical-align: top
        padding: 0.1em 0.5em

#ticket
  background: #FFFFDD none repeat scroll 0 0
  border: 1px outset #999966
  margin-top: 1em
  padding: 0.5em 1em

form
  label
    display: block
  textarea
    width: 100%
