body
  background: #092E20 none repeat scroll 0 0
  color: white
  margin: 10px
  padding: 0

.nav

  font-family: verdana,'Bitstream Vera Sans',helvetica,arial,sans-seriF
  font-size: 10px

  ul
    list-style-image: none
    list-style-position: outside
    list-style-type: none
    margin: 0
  li
    white-space: no-wrap
    display: inline

  .last
    border-right: 0px none
    
.btns
  margin: 18px 0 0
  padding: 9px
  text-align: right

.pbar-container
  border: 2px solid #FFFFFF
  background: #DDDDDD none repeat scroll 0 0
  height: 33px
  width: 100%

.pbar
  height: 33px
  background: #227700 none repeat scroll 0 0

#banner
  background: #94DA3A none repeat scroll 0 0

  #header
    padding: 10px
    padding-left: 30px
    margin-left: -10px
    margin-right: -10px
    margin-bottom: 10px
    margin-top: 30px

  #login_nav
    color: black
    margin-right: 10px

    ul
      text-align: right

    li
      padding-right: 0.5em
      padding-left: 0.5em

#menu

  padding-top: 10px
  background: #94DA3F

  li
    background: #487858 none repeat scroll 0 0

    a:link,a:visited
      color: white
      text-decoration: none
      padding: 0.2em 20px
    
  li.current
    background: #FF7868 none repeat scroll 0 0


  #sub_menu
    background: #8fff64
    padding-top: 5px
    li
      background: #f87858 none repeat scroll 0 0

#content
  padding: 2em
  position: relative
  background: white
  color: black

  table
    border-bottom: 1px solid #D7D7D7
    border-collapse: collapse
    border-spacing: 0
    clear: both
    margin-top: 1em
    width: 100%

    th,td,tr
      font-family: Verdana,sans-serif
      font-size: 12px
      line-height: 1.4em
      border: 1px solid #DDDDDD

    thead
      background: #F7F7F0 none repeat scroll 0 0
      tr
        border-bottom: 1.5px solid black

      th
        border-color: #D7D7D7 #D7D7D7 #999999
        border-style: solid
        border-width: 1px

    tbody

      td
        border: 1px dotted #DDDDDD
        vertical-align: top
        padding: 0.1em 0.5em

  #login
    margin: auto
    width: 25%

  #register
    margin: auto
    width: 50%

    input.field
      width: 100%

#ticket
  background: #FFFFDD none repeat scroll 0 0
  border: 1px outset #999966
  margin-top: 1em
  padding: 0.5em 1em
  position: relative

.edit
  position: absolute
  right: 10px
  top: 10px

#ticket_update
  padding-left: 0px

  li.top-ticket-update
    position: relative
    list-style-image: none
    list-style-type: none
    border-top: 1px solid

#ticket_update_form, #ticket_form
  display: block

  select
    width: 100%

  .group_main
    float: left
    display: block
    width: 60%

  .group_more
    display: block
    margin-left: 62%
    margin-top: 10px

  .taggings
    clear: both
    
    input
      width: 98%

#milestones

  ul
    list-style-image: none
    list-style-position: outside
    list-style-type: none
    margin: 0
  li
    white-space: no-wrap
    display: inline

    .milestone-information
      text-align: center
      li
        border-right: 1px solid
        padding-right: 10px
        padding-left: 10px

      .last
        border-right: 0px none

form
  label
    display: block
  textarea
    width: 100%

#footer
  text-align: center
  clear: both
  font-size: 0.9em

  a, a:link, a:visited
    text-decoration: none
    color: white
