.content
  %h2
    Member on project :
    = @project.name

  .inner

    - form_tag update_all_project_project_members_url(@project), :method => 'put', :class => 'form' do

      %table.table
        %thead
          %tr
            %th.first User
            %th.last Role
        %tbody
          - for member in @members
            %tr{:class => cycle('odd', 'even')}
              %td= link_to(member.user.login, project_project_member_url(@project, member))
              %td= select_tag "member_function[#{member.id}]", (options_from_collection_for_select Function.all, :id, :name, member.function_id)
      .actions-bar
        .actions
          =link_to 'Add member', new_project_project_member_url(@project)
          =submit_tag "Update all", :class=> 'button'
        .clear
