.content
  %h2
    Member on project :
    = @project.name

  .inner

    - form_for :member_function, :url => update_all_project_project_members_url(@project), :html => {:method => 'put', :class => 'form'} do |f|

      %table.table
        %thead
          %tr
            %th.first User
            %th.last Role
        %tbody
          - for member in @members
            %tr{:class => cycle('odd', 'even')}
              %td= link_to(member.user.login, project_project_member_url(@project, member))
              %td= f.collection_select "member_function[]", Function.all, :id, :name
      .actions-bar
        .actions
          =link_to 'Add member', new_project_project_member_url(@project)
          =submit_tag "Update all", :class=> 'button'
        .clear
