.pbar-container {
  border: 2px solid #FFFFFF;
  background: #DDDDDD none repeat scroll 0 0;
  height: 33px;
  width: 90%;
  margin: auto; }

.pbar {
  height: 33px;
  background: #227700 none repeat scroll 0 0; }

#ticket {
  background: #FFFFDD none repeat scroll 0 0;
  border: 1px outset #999966;
  margin-top: 1em;
  padding: 0.5em 1em;
  position: relative; }

.edit {
  position: absolute;
  right: 10px;
  top: 10px; }

#ticket_update {
  padding-left: 0px; }
  #ticket_update li.top-ticket-update {
    position: relative;
    list-style-image: none;
    list-style-type: none;
    border-bottom: 1px solid; }
  #ticket_update .list_properties li {
    margin-left: 20px;
    font-weight: bold; }

#ticket_update_form, #ticket_form {
  display: block; }
  #ticket_update_form select,   #ticket_form select {
    width: 100%; }
  #ticket_update_form .taggings,   #ticket_form .taggings {
    clear: both; }
    #ticket_update_form .taggings input,     #ticket_form .taggings input {
      width: 98%; }

#milestones ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0; }
#milestones li {
  white-space: no-wrap;
  display: inline; }
  #milestones li .milestone-information {
    text-align: center; }
    #milestones li .milestone-information li {
      border-right: 1px solid;
      border-bottom: none;
      padding-right: 10px;
      padding-left: 10px; }
    #milestones li .milestone-information .last {
      border-right: 0px none; }

.pagination em {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  background: #262626;
  color: #FFF;
  border-color: #262626; }
