body {
  background: #092E20 none repeat scroll 0 0;
  color: white;
  margin: 10px;
  padding: 0; }

.nav {
  font-family: verdana,'Bitstream Vera Sans',helvetica,arial,sans-seriF;
  font-size: 10px; }
  .nav ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0; }
  .nav li {
    white-space: no-wrap;
    display: inline; }
  .nav .last {
    border-right: 0px none; }

.btns {
  margin: 18px 0 0;
  padding: 9px;
  text-align: right; }

#banner {
  background: #94DA3A none repeat scroll 0 0; }
  #banner #header {
    padding: 10px;
    padding-left: 30px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    margin-top: 30px; }
  #banner #login_nav {
    color: black;
    margin-right: 10px; }
    #banner #login_nav ul {
      text-align: right; }
    #banner #login_nav li {
      padding-right: 0.5em;
      padding-left: 0.5em; }

#menu {
  padding-top: 10px;
  background: #94DA3F; }
  #menu li {
    background: #487858 none repeat scroll 0 0; }
    #menu li a:link, #menu li a:visited {
      color: white;
      text-decoration: none;
      padding: 0.2em 20px; }
  #menu li.actual {
    background: #FF7868 none repeat scroll 0 0; }
  #menu #sub_menu {
    background: #8fff64;
    padding-top: 5px; }
    #menu #sub_menu li {
      background: #f87858 none repeat scroll 0 0; }

#content {
  padding: 2em;
  position: relative;
  background: white;
  color: black; }
  #content table {
    border-bottom: 1px solid #D7D7D7;
    border-collapse: collapse;
    border-spacing: 0;
    clear: both;
    margin-top: 1em;
    width: 100%; }
    #content table th, #content table td, #content table tr {
      font-family: Verdana,sans-serif;
      font-size: 12px;
      line-height: 1.4em;
      border: 1px solid #DDDDDD; }
    #content table thead {
      background: #F7F7F0 none repeat scroll 0 0; }
      #content table thead tr {
        border-bottom: 1.5px solid black; }
      #content table thead th {
        border-color: #D7D7D7 #D7D7D7 #999999;
        border-style: solid;
        border-width: 1px; }
    #content table tbody td {
      border: 1px dotted #DDDDDD;
      vertical-align: top;
      padding: 0.1em 0.5em; }
  #content #login {
    margin: auto;
    width: 25%; }
  #content #register {
    margin: auto;
    width: 50%; }
    #content #register input.field {
      width: 100%; }

#ticket {
  background: #FFFFDD none repeat scroll 0 0;
  border: 1px outset #999966;
  margin-top: 1em;
  padding: 0.5em 1em;
  position: relative; }

.edit {
  position: absolute;
  right: 10px;
  top: 10px; }

#ticket_update {
  padding-left: 0px; }
  #ticket_update li.top-ticket-update {
    position: relative;
    list-style-image: none;
    list-style-type: none;
    border-top: 1px solid; }

#ticket_update_form, #ticket_form {
  display: block; }
  #ticket_update_form select,   #ticket_form select {
    width: 100%; }
  #ticket_update_form .group_main,   #ticket_form .group_main {
    float: left;
    display: block;
    width: 60%; }
  #ticket_update_form .group_more,   #ticket_form .group_more {
    display: block;
    margin-left: 62%;
    margin-top: 10px; }
  #ticket_update_form .taggings,   #ticket_form .taggings {
    clear: both; }
    #ticket_update_form .taggings input,     #ticket_form .taggings input {
      width: 98%; }

form label {
  display: block; }
form textarea {
  width: 100%; }
