.block
  %h3 Tags
  - unless clouds[:tags].empty?
    .content
      - tag_cloud clouds[:tags], %w(css1 css2 css3 css4) do |tag, css_class|
        %span{:class => css_class}= link_to tag, resource(cloud[:project], :tickets, :q => "tagged:#{tag}")
