%h1
  Tickets controller, index action
%p
  Edit this file in
  %tt
    app/views/tickets/index.html.erb
%table
  %tr
  - for ticket in @tickets
    %tr
      %td
        = link_to 'Show', resource(@project, ticket)
      %td
        = link_to 'Edit', resource(@project,  ticket, :edit)

= link_to 'New', resource(@project, :tickets, :new)
