%h1
  Tickets controller, show action
%p
  Edit this file in
  %tt
    app/views/tickets/show.html.erb

= link_to 'Edit',  resource(@project, @ticket, :edit)
|
= link_to 'Back', resource(@project, :tickets)
