.group
  %label.label{:for => 'project[name]'} Name
  = f.text_field :name, :class => 'text_field'

.group
  %label.label{:for => 'project[description]'} Description
  = f.text_area  :description, :cols => 40, :rows => 15, :class => 'text_area'
