- content_for :sub_menu do
  = render :partial => 'settings/sub_menu'
.content
  %h2 Delete your project

  .inner
    - form_for(@project, :html => {:method => 'delete', :class => 'form'}) do |f|
      %div{:class => 'group navform'}
        = f.submit "Delete", :class => 'button'
