.content
  %h2 Edit your project

  .inner
    .flash
      = error_messages_for :project

    - form_for(@project, :class => 'form') do |f|
      = render :partial => 'form', :locals => {:f => f}
      %div{:class => 'group navform'}
        = submit_tag "Update", :class => 'button'
