%h1
  Projects controller, index action
%p
  Edit this file in
  %tt
    app/views/projects/index.html.erb
%ul
- for project in @projects
  %li= project.name + link_to('Show', url(:project, project)) + link_to('Edit', url(:edit_project,  project))

= link_to 'New', url(:new_project)
