%h1
  Projects

- @projects.each do |project|
  %h2
    %span= link_to project.name, resource(project, :overview)

  %p= project.description

= link_to 'New', url(:new_project) if admin_on_one_project?
