- if global_admin?
  .secondary-navigation
    %ul
      %li.first= link_to('New project',new_project_url)
    .clear

#block-text.block
  .content
    .inner
      %h1
        Projects

      - @projects.each do |project|
        %h2
          %span= link_to project.name, overview_project_url(project)

        %p= textilized project.description
