- if global_admin?
  .secondary-navigation
    %ul
      %li.first= link_to('New project',resource(:projects, :new))
    .clear

#block-text.block
  .content
    .inner
      %h1
        Projects

      - @projects.each do |project|
        %h2
          %span= link_to project.name, resource(project, :overview)

        %p= textilized project.description
