%h1
  Projects

- @projects.each do |project|
  %h2
    %span= link_to project.name, resource(project, :tickets)

  %p= project.description

= link_to 'New', url(:new_project) if session.authenticated?
