%h1
  Projects

- @projects.each do |project|
  %h2
    %span= project.name
    %span= link_to('Show', url(:project, project))
    %span=link_to('Edit', url(:edit_project,  project))

  %p= project.description

= link_to 'New', url(:new_project)
