#block-forms.block
  .content
    %h2 Edit this ticket comments

    .inner
      .flash
        = error_messages_for :ticket_update

      - form_for([@project, @ticket, @ticket_update], :html => { :class => 'form' }) do |f|
        .group
          %label.label{:for => 'ticket_update[description]'} Description
          = f.text_area  :description, :class => 'text_area', :cols => 40, :rows => 15
        .clear
        %div{:class => 'group navform'}
          = f.submit "Update", :class => 'button'
          or
          = link_to 'Cancel', project_ticket_url(@project, @ticket)
