.content
  %h2 User

  .inner
    %p
      Firstname :
      = @user.firstname
    %p
      Lastname :
      = @user.lastname
    %p
      Email :
      = @user.email

    %p
      = link_to 'Back', resource(:admin, :users)
