%h1 
  Member on project :
  = @project.name

%table
  %thead
    %tr
      %th User
      %th Role
  %tbody
    - for member in @members
      %tr
        %td=link_to(member.user.login, url(:project_settings_member, @project, member))
        %td=member.function.name
