%h1
  States

= message

= form :action => resource(:admin, :states, :update_all), :method => 'PUT' do
  %table
    %thead
      %tr
        %th Name
        %th Closed?
    %tbody
      - for state in @states
        %tr
          %td= state.name
          %td=check_box :name => "closed[#{state.id}]", :boolean => true, :checked => state.closed
  %p
    =link_to 'Add states', resource(:admin, :states, :new)
    =submit "Update all states"
