.content
  %h2
    States

  .inner
    .flash
      = flash[:notice]

    - form_for [:admin, :state], :url => update_all_admin_states_url, :html => { :method => :put, :class => 'form'} do |f|
      %table.table
        %thead
          %tr
            %th.first Name
            %th.last Closed?
        %tbody
          - for state in @states
            %tr{:class => cycle('even', 'odd')}
              %td= state.name
              %td= f.check_box :closed, :name => "closed[#{state.id}]", :boolean => true, :checked => state.closed, :class => 'checkbox'
      .actions-bar
        .actions
          =link_to 'Add states', new_admin_state_url
          =submit_tag "Update all states", :class => 'button'
        .clear
