.content
  %h2 Add a state

  .inner
    .flash
      = error_messages_for :state

    - form_for([:admin, @state], :class => 'form') do |f|
      .group
        %label.label{:for => 'state[name]'} Name
        = f.text_field :name, :class => 'text_field'
      %div{:class => 'group navform'}
        = submit_tag "Create", :class => 'button'
        or
        = link_to 'Back', admin_states_url
